body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

h2 {
  margin: 10px 0;
}

#message {
  display: none;
  margin-top: 10px;
  color: teal;
  font-size: 18px;
}

#timerDisplay {
  margin-top: 10px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(89, 184, 66);
}
